.results-content {
    height: 100%;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-sm);
}

.results-title {
    font-size: 2.2rem;
    font-family: var(--font-title);
    text-transform: uppercase;
}

.results-divider {
    width: 80%;
    height: 2px;
    background: var(--border-color);
    opacity: 0.6;
     box-shadow: var(--shadow-small);
}

.score-box {
    background: var(--color-window-bg);
    padding: var(--spacing-md);
    text-align: center;
    width: 100%;
}

.score-label {
    font-size: 0.9rem;
    opacity: 0.75;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.score-number {
    font-size: 3.5rem;
    font-weight: bold;
    margin: var(--spacing-sm) 0;
    font-family: var(--font-title);
}

.score-total {
   font-size: 0.9rem;
   opacity: 0.7;
   letter-spacing: 1px;
    text-transform: uppercase;
}

.score-message {
    font-family: var(--font-title);
    margin-top: var(--spacing-lg);
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;

}

.results-buttons {
    margin-top: var(--spacing-md);
    display: flex;
    gap: var(--spacing-md);
}

.action-btn {
    padding: 0.75rem 1.25rem;
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 500;
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color);
    cursor: pointer;
    box-shadow: var(--shadow-small);
}

.action-btn:hover{
    transform: translateY(-2px);
}

.play-again {
    background: var(--color-dark-red);
}

.return-menu {
    background: var(--color-turquoise)
}
