.fake-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0; 
    width: 1.25rem;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem;
}

.scroll-arrow {
    color: var(--color-label);
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
    margin: 0.25rem 0;
}

.scroll-track {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    background: var(--color-black);
}

.scroll-thumb {
    width: 70%;
    height: 5rem;
    background: var(--color-label)
}