.question-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; 
    padding: var(--spacing-md);
    gap:  var(--spacing-lg);
    height: 450px;
}

.question-text {
    font-size: 1.7rem;
    color: var(--color-black);
    min-height: 120px;
    align-content: center;
    text-align: center;
}

.options-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: var(--spacing-md);
    justify-items: stretch;
    min-height: 120px; 
}

.option-btn {
    background: var(--color-window-bg);
    color: var(--color-black);
    font-family: var(--font-body);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border: 2px solid var(--border-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.25rem;
    width: 100%; 
    min-width: 0;
    justify-content: center;
    transition: all 0.2s ease;
}

.option-btn:not(.correct):not(.incorrect):hover {
    background: var(--color-yellow);
}

.option-btn:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.option-icon {
    width: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.option-text {
    flex-grow: 1;
}

.progress-divider {
    border: 1px solid var(--color-black);
}

.progress-bar {
    display: flex;
    justify-content: center;
    gap: var(--spacing-sm);
}

.progress-square {
    width: 30px;
    height: 30px;
    background: var(--color-window-bg);
    border: 2px solid var(--border-color);
    border-radius: 6px;
    transition: background 0.3s ease;
}

.correct {
    background: var(--color-green);
    color: var(--color-black);
}

.incorrect {
    background: var(--color-red);
    color: var(--color-black);
}
