@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: var(--font-title);
    letter-spacing: 0.5px;
}

.divider {
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-small);
    opacity: 0.6
}

.btn {
    padding: var(--spacing-md) 1.25rem;
    font-family: var(--font-body);
    font-size: 1.15rem;
    color: var(--color-black);
    background-color: var(--color-window-bg);
    border-radius: var(--radius-sm);
    border: var(--btn-border-width) solid var(--border-color);
    box-shadow: var(--shadow-small);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    transition: transform var(--transition-fast),
}

.btn:hover {
    transform: translateY(-2px);
}

.btn:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 var(--border-color);
}

#root {
    min-height: 100vh;
}

