.desktop-icons {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    padding: 5rem 2.5rem;
}

.icons-left,
.icons-right {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
}

.icons-left {
    justify-content: flex-start;
}

.icons-right {
    justify-content: flex-end;
}

.desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5.8rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.desktop-icon img {
    height: 4.6rem;
    width: 4.6rem;
    margin-bottom: 0.35rem;
}

.desktop-icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.70rem;
    color: var(--color-black);
    background-color: var(--color-label);
    padding: 0 0.3rem;
    border-radius: 0.25rem;
    border: 1px solid var(--color-black);
    line-height: normal;
    height: auto;
    text-transform: uppercase;
}
